nav {
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 1) 18%,
    rgba(252, 69, 220, 1) 100%
  );
}

#email {
  overflow: hidden;
  text-decoration: none;
}

#email-direction {
  transform: translateY(20%);
  max-width: 0;
  transition: all 1s;
  user-select: all;
}
#email:hover #email-direction {
  max-width: 18em;
}

.login:hover {
  background-color: #fff;
  color: rgb(92, 92, 92) !important;
  transition: all 0.6s ease;
}

.bienvenida > * {
  z-index: 2 !important;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1 !important;
  /*object-position: -10vw;*/
}

.header-portfolio {
  min-height: 100vh;
  margin-top: 55px;
}

.edit {
  opacity: 0.6;
  position: absolute;
  top: 10%;
  right: 4px;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: url("../../assets/logos/pencil.svg"), rgb(47, 194, 194);
  background-position: center center;
  background-size: 60%;
  border-radius: 50%;
  outline: 2px solid #fff;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 4;
}

.edit:hover {
  opacity: 1;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.514);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.close {
  border: none;
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url("../../assets/logos/close.svg"), rgb(29, 26, 26);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.msg-validation::after {
  content: attr(data-validation);
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: translateY(80%);
  color: #f00;
  font-size: 12px;
}
