footer {
  background: rgb(37, 37, 37);
}

#email {
  overflow: hidden;
  text-decoration: none;
}

#email-direction {
  transform: translateY(20%);
  max-width: 0;
  transition: all 1s;
  user-select: all;
}
#email:hover #email-direction {
  max-width: 18em;
}

@media (max-width: 720px) {
  #email:hover #email-direction {
    max-width: 0 !important;
  }
}
