<footer class="py-4 text-white">
  <div class="d-flex justify-content-around align-items-center">
    <div class="nombre text-left w-100 px-5">By Facundo Angel</div>
    <div class="redes text-right w-100 px-5">
      <span class="navbar-text d-flex justify-content-end lign-items-center">
        <span id="email" class="d-flex" style="height: 30px"
          ><a href="mailto:facundonicolasangel@gmail.com"
            ><img
              class="mx-1"
              src="../../assets/logos/12.png"
              width="30px"
              height="30px"
              alt="email"
          /></a>
          <p style="color: rgba(255, 255, 255, 0.55)" id="email-direction">
            facundonicolasangel@gmail.com
          </p></span
        >
        <a href="https://github.com/facundoangel" target="_blank"
          ><img
            class="mx-1"
            src="../../assets/logos/9.png"
            width="30px"
            alt="github"
        /></a>
        <a href="https://www.linkedin.com/in/facundo-angel/" target="_blank"
          ><img
            class="mx-1"
            src="../../assets/logos/13.png"
            width="30px"
            alt="linkedin"
        /></a>
      </span>
    </div>
  </div>
</footer>
