.about-me {
  max-width: 700px;
  position: relative;
  min-height: 300px;
}

.about-me-img {
  z-index: 2 !important;
}

.about-me::before {
  content: "";
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 1px;
  height: 60%;
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 1) 18%,
    rgba(252, 69, 220, 1) 100%
  );
}

.edit {
  opacity: 0.6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: url("../../assets/logos/pencil.svg"), rgb(47, 194, 194);
  background-position: center center;
  background-size: 60%;
  border-radius: 50%;
  outline: 2px solid #fff;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.edit:hover {
  opacity: 1;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.514);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.close {
  border: none;
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url("../../assets/logos/close.svg"), rgb(29, 26, 26);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.msg-validation::after {
  content: attr(data-validation);
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: translateY(80%);
  color: #f00;
  font-size: 12px;
}
