.title-skill::before {
  content: "";
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 5px;
  border-radius: 4px;
  height: 100%;
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 1) 18%,
    rgba(252, 69, 220, 1) 100%
  );
}

.bg-skills {
  border-radius: 130px 0 130px 0;
}

.item-skill {
  aspect-ratio: 1;
  width: 100%;
  position: relative;
}
#name-skill {
  text-transform: uppercase;
  content: attr(skill-name);
  font-family: Verdana, sans-serif;
  font-weight: bold;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -110%);
}

.item-skill img {
  width: 40%;
  margin: 10% 0 4px 0;
}

.progress {
  height: 30px;
}

.progress > * {
  width: 10%;
  background-color: aqua;
}

.edit {
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 7px;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: url("../../assets/logos/pencil.svg"), rgb(47, 194, 194);
  background-position: center center;
  background-size: 60%;
  border-radius: 50%;
  outline: 2px solid #fff;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 1;
}

.del {
  opacity: 0.6;
  position: absolute;
  right: 46px;
  top: 7px;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background: url("../../assets/logos/trash.svg"), rgb(197, 45, 45);
  background-position: center center;
  background-size: 60%;
  border-radius: 50%;
  outline: 2px solid #fff;
  border: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.item-add {
  border: 3px dashed #19212e;
}

.icon-plus {
  width: 30% !important;
}

.item-add:hover * {
  transform: translateY(-10px) scale(1.2);
}

.item-add * {
  transition: all 0.3s ease;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.514);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.close {
  border: none;
  border-radius: 50%;
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url("../../assets/logos/close.svg"), rgb(29, 26, 26);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

input:not(input[class*="form-check"]) {
  min-width: 300px;
}

.msg-validation::after {
  content: attr(data-validation);
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: translateY(80%);
  color: #f00;
  font-size: 12px;
}
